@model ScanHomeEIP.Models.EasyXML
@{
	ViewBag.Title = "ScanPage";
	//Layout = "~/Views/Shared/_Layout.cshtml";

	var un = TempData["username"].ToString();
	TempData["username"] = un;
	TempData.Keep("username");

	var ue = TempData["useremail"].ToString();
	TempData["useremail"] = ue;
	TempData.Keep("useremail");

	var v = TempData["versio"].ToString();
	TempData["versio"] = v;
	TempData.Keep("version");

	//string sts = TempData["SendToServer"].ToString();
	//TempData["SendToServer"] = sts;
	//TempData.Keep("SendToServer");

	var jobsinprog = TempData["base64"];
	TempData["base64"] = jobsinprog;
	TempData.Keep("base64");

	var templatename = "XTemplate0001.xst";
	@*
		var templatename =  TempData["TemplateName"].ToString();
	*@
	TempData["TemplateName"] = templatename;
	TempData.Keep("TemplateName");

}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title></title>

	@*  <link href="~/styles/XRXWidgets.css" rel="stylesheet" />*@

	<link rel="stylesheet" href="~/styles/common.css" />

	<link href="/xrx_g9_widgets/XRXg9Widgets.min.css" type="text/css" rel="stylesheet" />
	<script src="/xrx_g9_widgets/XRXg9Widgets.min.js" type="text/javascript"></script>

	@*<script type="text/javascript" src="~/Scripts/XRXRouter.js"></script>*@
	<script type="text/javascript" src="~/Scripts/XRXWebservices.js"></script>
	<script type="text/javascript" src="~/Scripts/XRXXmlHandler.js"></script>
	<script type="text/javascript" src="~/Scripts/XRXScanV2.js"></script>

	<script type="text/javascript" src="~/Scripts/XRXSession.js"></script>
	<script type="text/javascript" src="~/Scripts/XRXUtilities.js"></script>
	<script type="text/javascript" src="~/Scripts/XRXJobManagement.js"></script>

	<script type="text/javascript" src="~/Scripts/XRXTemplate.js"></script>

	
	<script type="text/javascript" src="~/Scripts/Scan2home.js"></script>
	<script type="text/javascript" src="~/Scripts/CommonHelper.js"></script>
	<script type="text/javascript" src="~/Scripts/version.js"></script>

	@*<link href="EmailPageStyle.css" type="text/css" rel="stylesheet"></link>*@

	<script>
        function inti() {
            try {
                document.documentElement.style.overflow = 'hidden';
                $("#demoContentContainer").xrxscrollable({});

                $('#b_Reset').xrxbutton({
                    disabled: false,
                    text: true,
                    label: '@ScanHomeEIP.Models.SetLanguage.in_lang["l_reset"]',
                    icons: {
                        glyph: "glyphicon-reset"
                    },
                    theme: "green",
                    themePrimary: true,
                    widgetSize: "xrx-medium"
                });

                var tableHeight = $.screenHeight() < 481 ? 378 : 580;
                $("#featureTable").xrxtable({
                    bordered: true,
                    striped: true,
                    height: tableHeight,
                    scroll: false
                });

                $("#ListNumberTable").xrxtable({
                    bordered: true,
                    striped: true,
                    height: tableHeight,
                    scroll: false
                });

                $("#tableFaxnunmbs").xrxtable({
                    bordered: false,
                    striped: false,
                    height: tableHeight,
                    scroll: false
                });

                $("#t_reset").xrxtable({
                    bordered: true,
                    striped: false,
                    height: tableHeight,
                    scroll: false
                });

                $("#s_Darken").xrxspinbox({
                    disabled: false,
                    initialValue: '@Model.Darkness',
                    min: -100,
                    max: 100,
                    orientation: "horizontalarrow-left",
                    theme: "blue",
                    step: 10
                });

                $("#s_Contrast").xrxspinbox({
                    disabled: false,
                    initialValue: '@Model.Contrast',
                    min: -100,
                    max: 100,
                    orientation: "horizontalarrow-left",
                    theme: "blue",
                    step: 10
                });

                $("#s_BackgroundSuppression").xrxtoggleswitch({
                    initialValue: true,
                    theme: "blue",
                    widgetSize: "xrx-small"
                });

                $("#Color-xrx-popover-id").xrxpopover({

                    theme: "green",
                    arrowPosition: "xrx-arrow-bottom",
					targetControl: "#Color"
                });

                $("#ScanType-xrx-popover-id").xrxpopover({
                    theme: "green",
                    arrowPosition: "xrx-arrow-bottom",
					targetControl: "#ScanType"
                });

                $("#Scanning-xrx-popover-id").xrxpopover({
                    theme: "green",
                    arrowPosition: "xrx-arrow-bottom",
					targetControl: "#Scanning"
                });

                $("#Orientation-xrx-popover-id").xrxpopover({
                    theme: "green",
                    arrowPosition: "xrx-arrow-bottom",
					targetControl: "#Orientation"
                });

                $("#Resolution-xrx-popover-id").xrxpopover({
                    theme: "green",
                    arrowPosition: "xrx-arrow-bottom",
					targetControl: "#Resolution"
                });

                $("#Size-xrx-popover-id").xrxpopover({
                    theme: "green",
                    arrowPosition: "xrx-arrow-bottom",
					targetControl: "#Size"
                });

                $("#s_Scanning").xrxsegmentedcontrol({
                    type: "textonly",
                    widgetSize: "xrx-small",
                    theme: "green",
                    themePrimary: false,
                    height: 100,
                    change: function (event, ui) {
                        document.getElementById("l_Scanning").innerHTML = ui.item.label;
                    }
                });

                $("#s_Type").xrxsegmentedcontrol({
                    type: "textonly",
                    widgetSize: "xrx-small",
                    theme: "green",
                    themePrimary: false,
                    height: 175,
                    change: function (event, ui) {
                        document.getElementById("l_Type").innerHTML = ui.item.label;
                    }
                });

                $("#s_Color").xrxsegmentedcontrol({
                    type: "textonly",
                    widgetSize: "xrx-small",
                    theme: "green",
                    themePrimary: false,
                    height: 125,
                    change: function (event, ui) {
                        document.getElementById("l_color").innerHTML = ui.item.label;
                    }
                });

                $("#s_Orientation").xrxsegmentedcontrol({
                    type: "textonly",
                    widgetSize: "xrx-small",
                    theme: "green",
                    themePrimary: false,
                    height: 100,
                    change: function (event, ui) {
                        document.getElementById("l_Orientation").innerHTML = ui.item.label;
                    }
                });

                $("#s_Resolution").xrxsegmentedcontrol({
                    type: "textonly",
                    widgetSize: "xrx-small",
                    theme: "green",
                    themePrimary: false,
                    height: 150,
                    change: function (event, ui) {
                        document.getElementById("l_Resolution").innerHTML = ui.item.label;
                    }
                });

                $("#s_Size").xrxsegmentedcontrol({
                    type: "textonly",
                    widgetSize: "xrx-small",
                    theme: "green",
                    themePrimary: false,
                    height: 100,
                    change: function (event, ui) {
                        document.getElementById("l_Size").innerHTML = ui.item.label;
                    }
                });

                //Keyboard for Spin Box Entry
                $('#xrx-spinner-input').xrxkeyboard({
                    layout: 'xrxNum',
                    appendLocally: false,
                    styleInput: false,
                });

                readxml();
				document.getElementById("loading_screen").style.display = "none";
				document.getElementById("hide_while_loading").style.display = "";

                $("#alert1").xrxalert({
                    buttons: [{
                        alertIcon: "glyphicon-close",
                        text: '@ScanHomeEIP.Models.SetLanguage.in_lang["l_cancel"]',
                        width: 200,
                    },
                    {
                        alertIcon: "glyphicon-exit",
                        click: function () {
                            exitApp();
                        },
                        text: '@ScanHomeEIP.Models.SetLanguage.in_lang["l_exit"]',
                        width: 200,
                    }]
                });

                $('#username').xrxbutton({
                    icons: {
                        glyph: "glyphicon-user"
                    },
                    text: true,
                    label: '@un',
                });

                $('#username').bind("click", function () {
                    OpenAlert("username");
                });


                $('#btscan').xrxbutton({
                    icons: {
                        glyph: "glyphicon-scan"
                    },
                    text: true,
                    label: '@ScanHomeEIP.Models.SetLanguage.in_lang["l_send"]',
                    width: 180
                });


                $('#btscan').bind("click", function () {
                    OpenAlert("btscan");
                });

                $('#enter_pass').xrxkeyboard({
                    layout: 'xrxSmall-en',
                    theme: 'green'
                });

                $("#popup_progress").xrxpopup({
                    focusControl: "#btscan",
                    actionBar: false,
                    height: "100%",
                    width: "100%",
                    theme: "pink",
                    close: function (event, ui) {
                        StartScan();
                    },
                });

                $("#progress_scan").xrxactivityindicator({
					widgetSize: "xrx-large",
					theme: "pink"
				});

                $("#banner1").xrxbanner({
                    bannerType: "active",
                    bannerTimeout: 3000,
                });
            }catch (ex) {
                alert(ex);
			}
        };

        function OpenAlert(item) {
            if (item == "username") {
                $("#alert1").xrxalert("open");
            }
            else if (item == "btscan") {
                $("#popup_progress").xrxpopup("open");
				StartScan();
            }
        }

        //Exit App
        function exitApp() {
            ExitCUIMode(); return false;
        }

        function readxml() {
            //alert("ReadXML " );
            @*var sts = '@sts';
            document.getElementById("sts").value = sts;
            if (sts == 'true') {
            var UserName = '@Model.UserName';
            document.getElementById("serverUserName").value = UserName;
            var UserPass = '@Model.UserPass';
            document.getElementById("UserPass").value = UserPass;
            var Server = '@Model.Server';
            document.getElementById("Server").value = Server;
            var Share = '@Model.Share';
            document.getElementById("Share").value = Share;
            var Path = '@Model.Path';
            document.getElementById("Path").value = Path;
            }*@

            var template = '@templatename';
            document.getElementById("templatename").value = template;
            //alert("template: " + template);

            var UserDomain = '@Model.UserDomain';
            document.getElementById("userdomain").innerHTML = UserDomain;

            @*var docname = '@Model.docName';
            document.getElementById("filename").value = docname;*@

            @* alert('@Model.homedirectory');*@
            @*document.getElementById("dhpath").value = String('@Model.homedirectory');*@

            var Color = '@Model.Color';
            document.getElementById("l_color").innerHTML = Color;
            if (Color == "BlackAndWhite") {
                Color = "BLACK_AND_WHITE";
            }
            else if (Color == "FullColor") {
                Color = "FULL_COLOR";
            } else if (Color == "Auto") {
                Color = "AUTO";
            } else if (Color == "Grayscale") {
				Color = "GRAYSCALE";
			}

            document.getElementById("s_Color").value = Color;

            var type = '@Model.l_ScanType';
            document.getElementById("l_Type").innerHTML = type;
            document.getElementById("s_Type").value = '@Model.ScanType';

            document.getElementById("s_FileType").value = "@Model.FileType";

            document.getElementById("s_Scanning").value = '@Model.ScanMode';
            document.getElementById("l_Scanning").innerHTML = '@Model.l_ScanMode';

            document.getElementById("s_Orientation").value = '@Model.Orientation';
            document.getElementById("l_Orientation").innerHTML = '@Model.l_Orientation';

            var res = '@Model.Resolution';
            document.getElementById("s_Resolution").value = res;
            document.getElementById("l_Resolution").innerHTML = '@Model.l_Resolution';
            //if (res == "RES_LOWEST") {
            //    document.getElementById("s_Resolution").value = res;
            //    document.getElementById("l_Resolution").innerHTML = 'Low';
            //}
            //else if (res == "RES_BEST") {
            //    document.getElementById("s_Resolution").value = res;
            //    document.getElementById("l_Resolution").innerHTML = 'Standard';
            //}
            //else if (res == "RES_HIGHEST") {
            //    document.getElementById("s_Resolution").value = res;
            //    document.getElementById("l_Resolution").innerHTML = 'Hight';
            //}

            var mediasize = '@Model.MediaSize';
            //alert("mediasize" + '@Model.MediaSize');
            document.getElementById("s_Size").value = mediasize;
            document.getElementById("l_Size").innerHTML = mediasize.replace("ISO_", "");

            var dark = '@Model.Darkness';
            //document.getElementById("l_Darken").innerHTML = dark;
            $("#s_Darken").xrxspinbox("value", dark);


            //document.getElementById("l_Contrast").innerHTML = 'Model.Contrast';
            $("#s_Contrast").xrxspinbox("value", '@Model.Contrast');

            var docformat = '@Model.FileType';
            document.getElementById("l_DocumentFormat").innerHTML = docformat;

            var blank = '@Model.BlankPageRemoval';
            document.getElementById("l_blankpageremoval").innerHTML = blank;

            var bo = '@Model.b_BlankPageRemoval.ToString().ToLower()';
            if (bo === "false") {
                $("#s_BackgroundSuppression").xrxtoggleswitch("value", false);
            }
            else {
                $("#s_BackgroundSuppression").xrxtoggleswitch("value", true);
            }

            var edge = '@Model.EdgeErase';
            document.getElementById("l_edge").innerHTML = edge;
        }

        function StartScan() {
           // alert("BT StartScan");
            $("#btscan").xrxbutton({ disabled: true });


            @*if ('@jobsinprog'.toUpperCase() == "TRUE") {
                $('#banner1').xrxbanner('call');
                setTimeout("window.location.href = '@Url.Action("Index", "Home")'", 5000);
            }
            else {*@
		    //alert("Inicia Scan");
                startScan2home();
            //}
        }
	</script>
	<style>
		#loading_screen {
			position: absolute;
			padding: 0px;
			height: 100%;
			width: 100%;
			/*box-shadow: 0px 10px 10px -5px rgba(29, 29, 29, .35);*/
			z-index: 1200;
			color: white;
			font-size: 48px;
			align-content: center;
			background-color: rgba(0, 0, 0, .85);
			text-align: center;
			vertical-align: middle;
			padding-top: 250px;
			overflow: hidden;
		}

		.align-mid.outer {
			display: table;
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;
		}

		.align-mid.inner {
			display: table-cell;
			vertical-align: middle;
		}
	</style>
</head>
<body style="height: 800px">
	<script>window.onload = inti;</script>
	<div id="loading_screen" align="center">
		<label align="center" style="left: 40%; top: 45%;">
			<strong>Loading...</strong>
		</label>
	</div>

	<div id="hide_while_loading" style="display: none">
		<!--aqui é o header da pag-->
		<div id="action_bar" style="color: white; overflow: hidden; width: 100%" class="xrx-action-bar xrx-background pink">
			<div style="float: left; width: 30%">
				<button id="username"></button>
			</div>
			<div style="float: left; margin: 0 auto; width: 40%; padding-top: 21px; text-align: center">
				<label style="font-size: 32px">
					@ScanHomeEIP.Models.SetLanguage.in_lang["l_name"]
				</label>
			</div>
			<div style="float: right">
				<button style="text-align: center;" id="btscan"></button>
			</div>
		</div>

		<div id="demoContentContainer">
			@*<div style="height: 180px; padding-left: 20px; padding-right: 20px; color: white;" class="xrx-background pink">
				<table>
					<tr>
						<td>
							<input id="dhpath" type="text" style="width: 718px;" disabled/>
						</td>
					</tr>
				</table>
				<table>
					<tr>
						<td>
							<input id="filename" type="text" style="width: 550px" />
							value="nomedoficheiro[date&time] size="150" "
						</td>
						<td style="width: 155px; padding-right: 25px;">
							<button id="tipodeficheiros"></button>
						</td>
					</tr>
				</table>
			</div>*@
			<div style="padding-top: 10px"></div>
			<div id="tableContainer" style="margin: auto">
				<table id="featureTable">
					<tbody>
						<tr id="Color">
							<td>
								<img src="~/styles/images/output_color_full_48.png" height="48" width="48" />
							</td>
							<td>
								<label style="padding-top: 20px; align-content: center">@ScanHomeEIP.Models.SetLanguage.in_lang["l_color"]</label>
							</td>
							<td style="width: 25%; padding-right: 10px;" align="right" id="l_color"></td>
						</tr>
						<tr id="Scanning">
							<td>
								<img src="~/styles/images/2sided_2sided_48.png" height="48" width="48" />
							</td>
							<td>
								<label style="padding-top: 20px; align-content: center">@ScanHomeEIP.Models.SetLanguage.in_lang["l_sidedScanning"]</label>
							</td>
							<td style="width: 25%; padding-right: 10px;" align="right">
								<label id="l_Scanning" style="text-align: right"></label>
							</td>
						</tr>
						<tr id="ScanType">
							<td>
								<img src="~/styles/images/original_type_photo_text_48.png" height="48" width="48" />
							</td>
							<td>
								<label style="padding-top: 20px; align-content: center">@ScanHomeEIP.Models.SetLanguage.in_lang["scantype"]</label>
							</td>
							<td style="width: 25%; padding-right: 10px;" align="right">
								<label id="l_Type" style="text-align: right"></label>
							</td>
						</tr>
						<tr id="Orientation">
							<td>
								<img src="~/styles/images/original_orientation_48.png" height="48" width="48" />
							</td>
							<td>
								@ScanHomeEIP.Models.SetLanguage.in_lang["l_orientation"]
							</td>
							<td style="width: 25%; padding-right: 10px;" align="right">
								<label id="l_Orientation" style="text-align: right"></label>
							</td>
						</tr>
						<tr id="Resolution">
							<td style="width: 48px">
								<img src="~/styles/images/sharpness_48.png" height="48" width="48" />
							</td>
							<td style="width: 60%">
								@ScanHomeEIP.Models.SetLanguage.in_lang["l_resolution"]
							</td>
							<td style="width: 25%; padding-right: 10px;" align="right">
								<label id="l_Resolution" style="text-align: right"></label>
							</td>
						</tr>
						<tr id="Size">
							<td style="width: 48px">
								<img src="~/styles/images/original_size_48.png" height="48" width="48" />
							</td>
							<td style="width: 60%">
								@ScanHomeEIP.Models.SetLanguage.in_lang["l_originalSize"]
							</td>
							<td style="width: 25%; padding-right: 10px;" align="right">
								<label id="l_Size"></label>
							</td>
						</tr>
						<tr>
							<td style="width: 48px">
								<img src="~/styles/images/lighten_darken_48.png" height="48" width="48" />
							</td>
							<td style="width: 60%">
								@ScanHomeEIP.Models.SetLanguage.in_lang["l_lightenDarken"]
							</td>
							<td style="width: 35%; padding-top: 5px; padding-bottom: 5px" align="right">
								<input id="s_Darken" />
							</td>
						</tr>
						<tr>
							<td style="width: 48px">
								<img src="~/styles/images/contrast_48.png" height="48" width="48" />
							</td>
							<td style="width: 60%">
								@ScanHomeEIP.Models.SetLanguage.in_lang["l_contrast"]
							</td>
							<td style="width: 35%; padding-top: 5px; padding-bottom: 5px" align="right">
								<input id="s_Contrast" />
							</td>
						</tr>
						@*<tr>
							<td style="width: 48px">
								<img src="~/styles/images/paper_tray_48.png" height="48" width="48" />
							</td>
							<td style="width: 60%">@ScanHomeEIP.Models.SetLanguage.in_lang["l_backSuppression"]</td>
							<td style="width: 35%">
								<!--<label id="BackgroundSuppression"></label>-->
								<div style="float: right;" id="s_BackgroundSuppression" class="toggleswitch"></div>
							</td>
						</tr>*@
					</tbody>
				</table>
				<table style="width: 100%;">
					<tr>
						<td align="center">
							<button style="text-align: center" id="b_Reset" onclick="readxml()"></button>
						</td>
					</tr>
				</table>

			</div>

		</div>
		<div>
			<label id="l_DocumentFormat" style="visibility: hidden"></label>
			<label id="l_blankpageremoval" style="visibility: hidden"></label>
			<label id="l_edge" style="visibility: hidden"></label>
			<label id="userdomain" style="visibility: hidden"></label>
			<label id="serverUserName" style="visibility: hidden"></label>
			<label id="UserPass" style="visibility: hidden"></label>
			<label id="Server" style="visibility: hidden"></label>
			<label id="Share" style="visibility: hidden"></label>
			<label id="Path" style="visibility: hidden"></label>
			<label id="sts" style="visibility: hidden"></label>
			<label id="templatename" style="visibility: hidden"></label>
		</div>

		<input type="hidden" id="s_FileType" name="s_FileType" value="" />

		<div id="alert1" title="@ScanHomeEIP.Models.SetLanguage.in_lang["l_exittext"]"></div>

		<div id="popup_progress">
			<!--Todas estas divs são necessárias para os alinhamentos verticais! -->
			<div class="align-mid outer">
				<div class="align-mid inner">
					<div style="float: left; width: 33%;">
						<div id="progress_scan" style="margin: auto"></div>
					</div>
					<div style="float: left; height: 128px; position: relative">
						<div style="position: absolute; left: 0; top: 37%;">
							<div class="scanning">@ScanHomeEIP.Models.SetLanguage.in_lang["Scanning"]</div>
							<div class="completed" style="display: none">@ScanHomeEIP.Models.SetLanguage.in_lang["Complete"]</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		@using (Html.BeginForm("ScanDone", "Home", FormMethod.Post, new { id = "ScanDone" }))
		{
			<input type="hidden" name="ScanDonename" id="ScanDonename" value="" />
		}

		<script>
			function CriaLog() {
				try {
					// O campo com o nome do documento gerado já foi preenchido no Scan2home.js
					var form1 = document.getElementById('ScanDone');
					form1.submit();
				} catch (e) {
					//alert("deu erro no crialog:" + e);
				}
			}

		</script>
		<div id="banner1">
			<div class="firstline">
				<h2><span>@ScanHomeEIP.Models.SetLanguage.in_lang["l_queue_erro1"]</span></h2>
			</div>
			<div class="secondline">
				@ScanHomeEIP.Models.SetLanguage.in_lang["l_queue_erro2"]
			</div>
		</div>
	</div>

	<div id="Color-xrx-popover-id">
		<select name="s_Color" id="s_Color">
			<option value="AUTO" selected="selected">@ScanHomeEIP.Models.SetLanguage.in_lang["Auto"]</option>
			<option value="BLACK_AND_WHITE">@ScanHomeEIP.Models.SetLanguage.in_lang["BlackAndWhite"]</option>
			<option value="GRAYSCALE">@ScanHomeEIP.Models.SetLanguage.in_lang["Grayscale"]</option>
			<option value="FULL_COLOR">@ScanHomeEIP.Models.SetLanguage.in_lang["FullColor"]</option>
		</select>
	</div>
	<div id="Scanning-xrx-popover-id">
		<select name="s_Scanning" id="s_Scanning">
			<option value="TwoSided">@ScanHomeEIP.Models.SetLanguage.in_lang["TWO_SIDED"]</option>
			<option value="OneSided" selected="selected">@ScanHomeEIP.Models.SetLanguage.in_lang["ONE_SIDED"]</option>
		</select>
	</div>
	<div id="Orientation-xrx-popover-id">
		<select name="s_Orientation" id="s_Orientation">
			<option value="PORTRAIT" selected="selected">@ScanHomeEIP.Models.SetLanguage.in_lang["PORTRAIT"]</option>
			<option value="LANDSCAPE">@ScanHomeEIP.Models.SetLanguage.in_lang["LANDSCAPE"]</option>
		</select>
	</div>
	<div id="Resolution-xrx-popover-id">
		<select name="s_Resolution" id="s_Resolution">
			<option value="RES_LOWEST">@ScanHomeEIP.Models.SetLanguage.in_lang["RES_LOWEST"]</option>
			<option value="RES_BEST" selected="selected">@ScanHomeEIP.Models.SetLanguage.in_lang["RES_BEST"]</option>
			<option value="RES_HIGHEST">@ScanHomeEIP.Models.SetLanguage.in_lang["RES_HIGHEST"]</option>
		</select>
	</div>
	<div id="Size-xrx-popover-id">
		<select name="s_Size" id="s_Size">
			<option value="AUTO" selected="selected">@ScanHomeEIP.Models.SetLanguage.in_lang["Auto"]</option>
			<option value="ISO_A4LEF">A4LEF</option>
			<option value="ISO_A4SEF">A4SEF</option>
		</select>
	</div>
	<div id="ScanType-xrx-popover-id">
		<select name="s_Type" id="s_Type">
			<option value="Auto">@ScanHomeEIP.Models.SetLanguage.in_lang["Auto"]</option>
			<option value="Photo">@ScanHomeEIP.Models.SetLanguage.in_lang["Photo"]</option>
			<option value="Text" selected="selected">@ScanHomeEIP.Models.SetLanguage.in_lang["Text"]</option>
			<option value="PhotoAndText">@ScanHomeEIP.Models.SetLanguage.in_lang["PhotoAndText"]</option>
			<option value="Map">@ScanHomeEIP.Models.SetLanguage.in_lang["Map"]</option>
			<option value="NewspaperOrMagazine">@ScanHomeEIP.Models.SetLanguage.in_lang["NewspaperOrMagazine"]</option>
		</select>
	</div>

</body>
</html>
