@model ScanHomeSite.Models.DeployConfiguration
@{
    ViewBag.Title = "Configuration";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="padding-left: 20px; padding-right: 20px">
    <div class="container-fluid">
        <div class="row">
            <div class="table-responsive display">
                <div class=" panel panel-primary ">
                    <div class="panel-heading">
                        <h3 class="panel-title"><strong>Deploy Aplication</strong></h3>
                    </div>

                    <table id="mytable" class="table table-striped table-hover">
                        <tbody id="myTable" class="form-horizontal">
                           
                            @using (Html.BeginForm())
                            {
                                @Html.ValidationSummary()
                                
                                @*<tr>
                                    <td style="width: 30%;">
                                    
                                        @Html.LabelFor(m => m.VendorNameBox, new { @class = "control-label" })
                                    </td>
                                    <td style="width: 70%;">
                                        @Html.TextBoxFor(m => m.VendorNameBox, new { @class = "form-control" })
                                    </td>
                                </tr>                            
                                *@<tr>
                                    <td style="width: 30%;">
                                        @Html.LabelFor(m => m.AppUrlBox, new { @class = "control-label" })
                                    </td>
                                    <td style="width: 70%;">
                                        @Html.TextBoxFor(m => m.AppUrlBox, new { @class = "form-control" })
                                    </td>
                                </tr> 
                                <tr>
                                    <td style="width: 30%;">
                                        @Html.LabelFor(m => m.AppDescriptionUrlBox, new { @class = "control-label" })
                                    </td>
                                    <td style="width: 70%;">
                                        @Html.TextBoxFor(m => m.AppDescriptionUrlBox, new { @class = "form-control" })
                                    </td>
                                </tr> 
                                <tr>
                                    <td style="width: 30%;">
                                        @Html.LabelFor(m => m.LargeIconUrlBox, new { @class = "control-label" })
                                    </td>
                                    <td style="width: 70%;">
                                        @Html.TextBoxFor(m => m.LargeIconUrlBox, new { @class = "form-control" })
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width: 30%;">
                                        @Html.LabelFor(m => m.SmallIconUrlBox, new { @class = "control-label" })
                                    </td>
                                    <td style="width: 70%;">
                                        @Html.TextBoxFor(m => m.SmallIconUrlBox, new { @class = "form-control" })
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width: 30%;">
                                        @Html.LabelFor(m => m.ToolsUrlBox, new { @class = "control-label" })
                                    </td>
                                    <td style="width: 70%;">
                                        @Html.TextBoxFor(m => m.ToolsUrlBox, new { @class = "form-control" })
                                    </td>
                                </tr>
                                @*<tr>
                                    <td style="width: 30%;">
                                        @Html.LabelFor(m => m.comboBrowserType, new { @class = "control-label" })
                                    </td>
                                    <td style="width: 70%;">
                                        @Html.DropDownListFor(m => m.comboBrowserType, new MultiSelectList(Model.l_BrowserType), new { @class = "form-control" })
                                    </td>
                                </tr>*@
                                <tr>
                                    <td style="width: 30%;">
                                        @Html.LabelFor(m => m.comboAccessType, new { @class = "control-label" })
                                    </td>
                                    <td style="width: 70%;">
                                        @Html.DropDownListFor(m => m.comboAccessType, new MultiSelectList(Model.l_AccessType), new { @class = "form-control" })
                                        @* @Html.TextBoxFor(m => m.comboAccessType, new { @class = "form-control" })*@
                                    </td>
                                </tr>                               
                                <tr>
                                    <td>
                                        @*<input type="submit" value="Add Project" class="btn btn-default"/>*@
                                        <button type="submit" class="btn btn-success">
                                            <span class="glyphicon glyphicon-check" aria-hidden="true"></span> Save
                                        </button>
                                    </td>
                                    <td></td>
                                </tr>
                            }
                            
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


