@model ScanHomeSite.Models.DeployVariables
@{
    ViewBag.Title = "Remove";
    Layout = "~/Views/Shared/_Layout.cshtml";

    if (Model.l_addresses != null)
    {
        foreach (var item in Model.l_addresses)
        {
            Model.addresses += item.Trim() + "\n";
        }
        foreach (var item in Model.l_Username)
        {
            Model.DeviceUsernameBox += item.Trim() + "\n";
        }
        foreach (var item in Model.l_Password)
        {
            Model.DevicePasswordBox += item.Trim() + "\n";
            string temp = "";
            for (int i = 0; i < item.Length; i++)
            {
                temp += "*";
            }
            Model.DummyPasswordBox += temp + "\n";
        }
    }
}
<div style="padding-left: 20px; padding-right: 20px">
    <div class="container-fluid">
        <div class="row">
            <div class="table-responsive display">
                <div class=" panel panel-primary ">
                    <div class="panel-heading">
                        <h3 class="panel-title"><strong>Remove Aplication - @Model.AppNameBox App For Versalink</strong></h3>
                    </div>
                    <table id="mytable" class="table table-striped table-hover">
                        <thead>
                            <tr >
                                <td style="width: 30%;">
                                    @Html.LabelFor(m => m.DeviceUsernameBox, new { @class = "control-label" })
                                </td>
                                <td style="width: 30%;">
                                    @Html.LabelFor(m => m.DevicePasswordBox, new { @class = "control-label" })
                                </td>
                                <td style="width: 30%;">
                                    @Html.LabelFor(m => m.addresses, new { @class = "control-label" })
                                </td>
                            </tr>
                        </thead>
                        <tbody id="myTable" class="form-horizontal">
                            @using (Html.BeginForm())
                            {
                                @Html.ValidationSummary()
                                <tr>
                                    <td style="width: 30%;">
                                        @Html.TextAreaFor(m => m.DeviceUsernameBox, 10, 1, new { @class = "form-control" })
                                    </td>
                                    <td style="width: 30%;">
                                        @Html.TextAreaFor(m => m.DevicePasswordBox, 10, 1, new {@id="DevicePasswordBox", @class = "form-control", @style="display:none;" })
                                        @Html.TextAreaFor(m => m.DummyPasswordBox, 10, 1, new {@id="DummyPasswordBox", @class = "form-control", @onkeyup = "ChangeChar(event);"  })
                                        <script type="text/javascript">
                                            var keys = [];
                                            function ChangeChar(e) {
                                                var inp = String.fromCharCode(event.keyCode);
                                                //se numero ou enter
                                                if (/[a-zA-Z0-9]/.test(inp) || e.keyCode == 13) {
                                                    keys.unshift(e.which);
                                                    update();
                                                }
                                                //se backspace
                                                if (e.keyCode == 8) {
                                                    var temp = document.getElementById("DevicePasswordBox").value;
                                                    document.getElementById("DevicePasswordBox").value = temp.substring(0, temp.length - 1);
                                                }
                                            };

                                            function update() {
                                                document.getElementById("DevicePasswordBox").value += String.fromCharCode(keys[0]);
                                                var troca = String.fromCharCode(keys[0]);
                                                var text = document.getElementById("DummyPasswordBox").value;
                                                var temp = text.replace(troca, "*");                                              
                                                document.getElementById("DummyPasswordBox").value = temp;
                                            }
                                        </script>
                                    </td>
                                    <td style="width: 30%;">
                                        @Html.TextAreaFor(m => m.addresses, 10, 1, new { @class = "form-control" })
                                    </td>
                                </tr>
                              
                                <tr>
                                    <td>
                                        @*<input type="submit" value="Add Project" class="btn btn-default"/>*@
                                        @Html.HiddenFor(m => m.AppNameBox)
                                        <button type="submit" class="btn btn-success">
                                            <span class="glyphicon glyphicon-check" aria-hidden="true"></span> Remove
                                        </button>
                                    </td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            }

                            <tr>
                                <td>
                                    <div>
                                        @using (Html.BeginForm("Upload1", "ScanHome", FormMethod.Post, new { @enctype = "multipart/form-data", @CreatorIDUser = "Remove" }))
                                        { 
                                            <div class="table-responsive display">
                                                <div class=" panel panel-primary ">

                                                    <table class="table table-striped table-hover">
                                                        <tbody class="form-horizontal">
                                                            <tr>
                                                                <td>
                                                                    @Html.HiddenFor(m => m.AppNameBox)
                                                                    <input type="file" accept=".csv" name="file" id="file" onchange="checkfile(this);" class="filestyle" data-classbutton="btn btn-primary" data-input="false" data-classicon="icon-plus" data-buttontext="Select the CSV file.">
                                                                    @* <input type="file" name="file"  />*@
                                                                </td>
                                                                <script type="text/javascript" language="javascript">
                                                                    function checkfile(sender) {
                                                                        var validExts = new Array(".csv");
                                                                        var fileExt = sender.value;
                                                                        
                                                                        fileExt = fileExt.substring(fileExt.lastIndexOf('.'));
                                                                        if (validExts.indexOf(fileExt) < 0) {
                                                                            alert("Invalid file selected, valid files are of " +
                                                                                     validExts.toString() + " types.");
                                                                            $("#file").val("");
                                                                            return false;
                                                                        }
                                                                        else return true;

                                                                    }


                                                                </script>

                                                                <td>
                                                                    <input type="submit" name="Submit" id="Submit" value="Upload IP list" />
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>



